<!--
 * @Author: LYM
 * @Date: 2022-04-12 11:12:09
 * @LastEditors: LYM
 * @LastEditTime: 2023-04-10 14:00:26
 * @Description: 模版
-->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1.0,maximum-scale=1,user-scalable=no,viewport-fit=cover"
    />
    <title><%= name %></title>
    <script type="module" src="/lib/three.js"></script>
    <script type="module" src="/lib/CSS2DRenderer.js"></script>
    <script type="module" src="/lib/3d-force-graph.min.js"></script>
    <!-- <script type="text/javascript" src="http://d3js.org/d3.v5.min.js"></script> -->
  </head>
  <body>
    <div id="app"></div>
    <script type="module" src="/src/main.ts"></script>
  </body>
</html>
